<head>
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <a href="/">
            <h3>Home page</h3>
        </a>
        <h2>NHẬP CHI CHÍ</h2>
        <form action="/themchiphi" method="POST">
            <div class="form-group">
                <label>STT</label>
                <input class="form-control" type="text" name='stt'>
            </div>
            <div class="form-group">
                <label>Nội dung</label>
                <input class="form-control" type="text" name='noidung'>
            </div>
            <div class="form-group">
                <label>Số tiền</label>
                <input class="form-control" type="text" name='sotien'>
            </div>
            <div class="form-group">
                <label>Ghi chú</label>
                <input class="form-control" type="text" name='ghichu'>
            </div>
            <input id="add-btn" class="btn btn-primary" type="submit" value="THÊM">
        </form>
    </div>
</body>