<head>
    <title>Title</title>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> -->
    <%-include('../views/headercss') %>
</head>

<body>
    <%- include( '../views/navbar')%>
        <div class="container">

            <h1>NHẬP CHI CHÍ KHÁC</h1>
            <form action="/themchiphi" method="POST">
                <div class="form-group">
                    <label>STT</label>
                    <input class="form-control" type="text" name='stt'>
                </div>
                <div class="form-group">
                    <label>Nội dung</label>
                    <input class="form-control" type="text" name='noidung'>
                </div>
                <div class="form-group">
                    <label>Số tiền</label>
                    <input class="form-control" type="text" name='sotien'>
                </div>
                <div class="form-group">
                    <label>Ghi chú</label>
                    <input class="form-control" type="text" name='ghichu'>
                </div>
                <input id="add-btn" class="btn btn-primary pull-right" type="submit" value="Save">
            </form>
        </div>
</body>